{% extends 'base.html.twig' %}

{% block title %}Articulo index{% endblock %}

{% block body %}
    <h1>Articulo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Estado</th>
                <th>actions</th>
                <th>Transiciones</th>
            </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.titulo }}</td>
                <td>{{ articulo.contenido }}</td>
                <td>{% for index, estado in workflow_marked_places(articulo) %}{{ estado }}</br>{% endfor %}</td>
                <td>
                    <a href="{{ path('articulo_show', {'id': articulo.id}) }}">show</a>
                    <a href="{{ path('articulo_edit', {'id': articulo.id}) }}">edit</a>
                </td>
                <td>
                    {% for transition in workflow_transitions(articulo) %}
                        <a href="{{path('articulo_transicion', {id: articulo.id, transicion: transition.name} )}}">{{ transition.name }}</a>
                    {% else %}
                        Este artículo ya no admite transiciones.
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('articulo_new') }}">Create new</a>
{% endblock %}